@page "/Levi"


<liageTitle>Levi's Home Page</liageTitle>

<style>
    table {
      border-collapse: collapse;
      margin: auto;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

  @if (BlazorApp.Shared.Matches.UpComingContests.Count() == 0)
  {
    <h3>No upcoming games</h3>
  }


<table>
    <thead>
    <th scope="col">Day of week</th>
    <th scope="col">Date</th>
    <th scope="col">Name</th>
    </thead>
    
    @foreach (var game in BlazorApp.Shared.Matches.UpComingContests)
    {
        <tr>

            <td>@game.DateTime.DayOfWeek</td>
            <td>@game.DateTime.ToString("MMM-dd htt")</td>
            <td>@game.Name at @game.Location </td>
        </tr>
    }

</table>


<footer>
    <li>&copy; @DateTime.Now.Year Luke Hammer </li>
    <li>Updated 11/3/2024 </li>
</footer>

